body {
  display: flex;
  table {
    display: block;
    font-size: 20px;

    tr {
      text-align: center;
    }

    td {
      padding-left: 2em;
      padding-bottom: 1em;

      input {
        font-size: 20px;
      }
    }
  }
}
